.title {
    font-Weight: "Bold";
    width: "500px";
    padding: "20px 0";
  }
.subtitle {
    font-Weight: "600";
    padding: "10px 0";
    color: "gray";
  }
.albumsContainer {
  width: "100%",
}
.albumsList {
  width: "100%";
  display: "flex";
  overflow-x: "auto";
  gap: "60px";
  padding-Bottom: "20px";
}
.singerContainer {
  width: "100%";
}
.singerList {
  width: "100%";
  display: "flex";
  overflow-x: "auto";
  gap: "60px";
  padding-Bottom: "20px";
}
